<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Other Sample form</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="forma">
                    <div class="form-body">
                        <h3 class="card-title">Información de la persona</h3>
                        <hr>


                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="name" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Usuario</label>
                                    <input type="text" id="user" class="form-control" placeholder="Usuario">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Clave</label>
                                    <input type="password" id="clave" class="form-control" placeholder="Clave">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Confirmar Clave</label>
                                    <input type="password" id="clave1" class="form-control" placeholder="Confirmar clave">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Dni</label>
                                    <input type="text" id="clave1" class="form-control" placeholder="Dni">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Tipo Documento</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Normal</option>
                                        <option value="Category 2">Fa</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Telefono</label>
                                    <input type="text" id="telefono" class="form-control" placeholder="Telefono">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="control-label">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="e-mail">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Direccion</label>
                                    <input type="text" id="direccion" class="form-control">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Rol</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1">
                                        <option value="Category 1">Admin</option>
                                        <option value="Category 2">Vendedor</option>
                                        <option value="Category 2">Almacenero</option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>